.titulosReporte {
	text-align: center;
    margin: 15px 0 10px 0;
    padding: 8px 0 0 0;
    font-size: 1.2em;
    background-color: lightgrey;
}
.white-box {border-top: solid 1px #aab2bd;}
.coming {
    text-align: center;
}

.selectores, .titulo-dash {
  margin-top: 10px;
}

input.buscar {
  margin-top: 0;
}
/*am charts*/
#dispSemanal {   
  width: 100%;
  height: 395px;
  padding: 0px 10px 0px 10px;
}
#dispSemanal2 {   
  width: 100%;
  height: 350px;
  padding: 0px 10px 0px 10px;
}
#princParadas1, #princParadas2, #princParadas3, #princParadas4 {   
  width: 100%;
  height: 350px;
  padding: 0px 10px 0px 10px;
}


.table thead th {
    border-top: none;
    border-bottom: solid 1px darkgrey;
    text-align: center;
}
.table tbody {text-align: center;}
.resumen li {
  list-style: circle;
}
.hijo select, .hijo input {
    border-radius: 5px;
}
.cubo {margin-top: 8px;}
#descArea {
    padding: 0 10px;
}
.red {color: red}
@media screen and (min-width : 1260px) {
	
}
@media screen and (min-width : 992px) and (max-width : 1260px) {
    
}
@media screen and (min-width : 768px) and (max-width : 992px) {
    
}
@media screen and (min-width : 320px) and (max-width : 768px) {
    

}
