
#menuSuperior ul {
  display: inline-flex;
  padding-top: 15px;
}
#menuSuperior li {
  padding: 0 10px;
  border-right: solid 1px white;
}
#menuSuperior a {
  padding: 0 5px;
  color: white;
}
.titulosReporte {
	text-align: center;
    margin: 15px 0 10px 0;
    padding: 8px 0 0 0;
    font-size: 1.2em;
    background-color: lightgrey;
}

.tituloP {
	text-align: center;
  padding-top: 20px;
}

.white-box {
  border-top: solid 1px #aab2bd;
  padding: 5px;
}
.col-izq {
  padding-right: 5px;
}
.col-der {
  padding-left: 5px;
}
.colTablaDetalle {
  padding: 0 5px;
}
.coming {
    text-align: center;
}

.selectores, .titulo-dash {
  margin-top: 10px;
}
button.buscar {
  margin-top: 0;
}
#buscarLupa {
    font-size: 1em;
}
/*am charts*/
#paretoDisponibilidad, #paretoUtilizacion, #paretoMina, #paretoTotal, #pie1, #pie3D {
  height: 400px;
}
.negrita {
  font-weight: 700;
  font-size: 1.2em;
}
.negrita2 {
  font-weight: 700;
  font-size: 1em;
}
h3 {font-size: 2em;}
h4 {
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 0;
    font-weight: 700;
}
#leyenda {
  margin: 15px 0 25px 0;
  padding: 15px;
  border: solid 2px #0d5188;
  border-radius: 3px;
  background-color: #e4e4e4;
}
.leyenda {margin: 6px;}
.titDetalle {
  font-size: 3.5em;
  margin: 20px;
}
.imgEquipo {
  height: 200px;
  background-image: url(../img/310-MLS-001.jpg);
  background-repeat: no-repeat;
  background-size: 99% 100%;
  margin-bottom: 5px;
}
.on-off {
    margin: 20px;
}
.btn-reporte {
  margin: 20px;
  background-color: #4aadc4;
  border: #4aadc4;
  width: 90%;
  color: white;
} 
.img-detalle {
  padding: 0 0 10px 0;
}

table {
  width: 100%;
  border: none;

}
table td {
  border: none;
  padding-left: 10px;
}
.table {
  border: solid 1px #636363;
  margin-bottom: 0.5rem;
}

a.leyenda {width: 100%;}
.table td {    padding: 0.1rem;}
.table thead th {
    border: solid 1px #636363;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #4c76b0c4;
    color: white;
}
.table tbody {text-align: center;}
.table th {padding: 2px;}
.resumen li {
  list-style: circle;
}
.hijo select, .hijo input {
    border-radius: 5px;
}
.cubo {margin-top: 8px;}
#descArea {
    padding: 0 10px;
}
.red {color: red}
.ver-detalles {
  font-size: 1.6em;
  padding-right: 5px;
}
.color-antamina {color: #4aadc4;}
.limite {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
.valor {
  font-size: 1.5em;
}
#yanacocha {
  text-align: center;
}
#titulo {
  text-align: center;
}
#fechas {
  text-align: center;
}

#crusher1 .crusher {
  color: #963534;
}
#crusher2 .crusher {
  color: #31869b;
}
#crusher3 .crusher {
  color: #366092;
}
#crusher4 .crusher {
  color: #c53c4a;
}
#crusher5 .crusher {
  color: #e26b0a;
}
#crusher6 .crusher {
  color: #484529;
}
@media screen and (min-width : 1260px) {
	 #yanacocha {
    padding: 10px 25px;
    text-align: center;
  }
  #titulo {
    text-align: center;
  }
  #fechas {
    text-align: center;
  }
  .modal-dialog {
      max-width: 50%;
  }
}
@media screen and (min-width : 992px) and (max-width : 1260px) {
   .rangoDeFechas {
    display: inline-flex;
  }
  .rowLeyenda {
    padding: 0;
  }
  .comentarios {
    width: 15%;
  }
}
@media screen and (min-width : 768px) and (max-width : 992px) {
   .col-der-izq {
    padding: 0 15px;
  }
  .col-der {
    padding: 0 15px 0 0;
  } 
  .col-izq {
    padding: 0 0 0 15px;
  }
  .rowLeyenda {
    padding: 0 5%;
  }  
}
@media screen and (min-width : 320px) and (max-width : 768px) {
   .col-der, .col-izq {
    padding: 0 5px;
  }   
  #menuSuperior {
    display: none;
  }
  .modal-dialog {
      max-width: 90%;
  }
}
