/*
Template Name: DASHGUM FREE - Bootstrap 3.2 Admin Theme
Template Version: 1.0
Author: Carlos Alvarez
Website: http://blacktie.co
Premium: http://www.gridgum.com
*/
/*
Reeditado: Daniel Diaz Stark;
bootstrap v4
https://www.pipersolutions.com
*/

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);

@font-face {
    font-family: 'gidoleregular';
    src: url('../fonts/gidole-regular-webfont.woff2') format('woff2'),
         url('../fonts/gidole-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {height: 100%;}
/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #f2f2f2;
    font-family: 'gidoleregular', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:11px !important;
    height: 100%;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #113559;
    color: #fff;
}
::-moz-selection {
    background: #113559;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

/* Bootstrap Modifications */
.modal-header {
	background: #113559;
}

.modal-title {
	color: white;
}

.btn-round {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

.accordion-heading .accordion-toggle {
	display: block;
	cursor: pointer;
	border-top: 1px solid #F5F5F5;
	padding: 5px 0px;
	line-height: 28.75px;
	text-transform: uppercase;
	color: #1a1a1a;
	background-color: #ffffff;
	outline: none !important;
	text-decoration: none;
}	

/*titulos*/
h3 {
    font-size: 1.5em;
    color: #0d5188;
    font-weight: 600;
    padding-left: 10px;
}
h4 {
    font-size: 1.3em;
    color: #0d5188;
}
p {
    padding-left: 10px;
}
.btn {font-size: 1.1em;}
.btn-1b {width: 100%;}
.inv {
    color: #f1e43c;
    font-size: x-large;
    cursor:pointer;
}
.b-0 {padding: 8px;}
/*Theme Backgrounds*/

.bg-theme {
	background-color: #113559;
}

.bg-theme02 {
	background-color: #ac92ec;
}

.bg-theme03 {
  background-color: #48cfad;
}

.bg-theme04 {
  background-color: #ed5565;
}
/*Theme Buttons*/

.btn-theme {
  color: #fff;
  background-color: #113559;
  border-color: #8fd0e6;
  margin: 8px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #8fd0e6;
  border-color: #8fd0e6;
}
.btn-theme01 {
  color: #fff;
  background-color: #113559;
  border-color: #8fd0e6;
}
.btn-theme01:hover,
.btn-theme01:focus,
.btn-theme01:active,
.btn-theme01.active,
.open .dropdown-toggle.btn-theme01 {
  color: #fff;
  background-color: #8fd0e6;
  border-color: #8fd0e6;
}

.btn-theme02 {
  color: #fff;
  background-color: #ac92ec;
  border-color: #967adc;
}
.btn-theme02:hover,
.btn-theme02:focus,
.btn-theme02:active,
.btn-theme02.active,
.open .dropdown-toggle.btn-theme02 {
  color: #fff;
  background-color: #967adc;
  border-color: #967adc;
}

.btn-theme03 {
  color: #fff;
  background-color: #48cfad;
  border-color: #37bc9b;
}
.btn-theme03:hover,
.btn-theme03:focus,
.btn-theme03:active,
.btn-theme03.active,
.open .dropdown-toggle.btn-theme03 {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}

.btn-theme04 {
  color: #fff;
  background-color: #ed5565;
  border-color: #da4453;
}
.btn-theme04:hover,
.btn-theme04:focus,
.btn-theme04:active,
.btn-theme04.active,
.open .dropdown-toggle.btn-theme04 {
  color: #fff;
  background-color: #da4453;
  border-color: #da4453;
}

.btn-clear-g {
	color: #48bcb4;
	background: transparent;
	border-color: #48bcb4;
}

.btn-clear-g:hover {
	color: white;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #797979;
}



/*Helpers*/

.centered {
	text-align: center;
}

.goleft {
	text-align: left;
}

.goright {
	text-align: right;
}

.mt {
	margin-top: 5px;
}
.mt2 {
    margin: 15px 0;
}
.mt3 {
    margin: 15px 15px 0 15px;
}
.mb {
	margin-bottom: 5px;
}

.ml {
	margin-left: 5px;
	}
.pad10 {
    padding: 10px;
}
.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

/*Exclusive Theme Colors Configuration*/

.label-theme {
	background-color: #113559;
}

.bg-theme {
	background-color: #113559;
}

ul.top-menu > li > .logout {
	color: white;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #64c3c2 !important;
	padding: 5px 15px;
	margin-right: 15px;
	background: #113559;
	margin-top: 5px;
}


/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #113559;
}

#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 5px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background: url("../img/nav-expand.png") no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.active .dcjq-icon {
    background: url("../img/nav-expand.png") no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
/*--Menu lateral izq con prod piper-*/
#productosPiper {
    float: left;
    width: 50px;

}
#productosPiper img {
    padding: 10px 8px;
}
.logoProdPiper {
    width: 32px;
    height: 32px;
    margin: 19px 3px;
}
.menuProdPiper {
    margin-left: 40px;
    padding-top: 75px;
    height: -webkit-fill-available;
    background-color: #242a2f;
}
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 40px;
    height: 100%;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #2c3338;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 3px 0 3px 20px;
    line-height: 35px;
    height: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
    border-right: solid 4px #5a9bd5;
}

ul.sidebar-menu li ul.sub li a.active  {
    border-right: solid 4px #5a9bd5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    background-color: transparent;
    color: white;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    /*margin-left:10px;
    margin-right:10px;*/
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #bbbecb;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 20px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    
    background: #1d2227;
    color: #8a8d9f;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 12px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #5a9bd5;
}


.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}

/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
    overflow: auto;
    min-height: 100%;
    margin-bottom: -40px;
}

.header, .footer {
    min-height: 40px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 21 !important;
}

.black-bg {
    background: #032349;
}

.wrapper {
    display: inline-block;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 0px;
    width: 100%;
}

#logo {
    height: 95px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position-y: 10px;
    background-position-x: 10px;
    float: left;
}
.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    text-transform: uppercase;
}

.logo img {
    height: 30px;
}
a.logo img#logo {
    height: 20px;
    padding-left: 15px;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #113559;
}
#chevron {
    padding: 0 0 5px 5px;
}
/*dropdown menu superior derecha*/
.drop_menu {
    background:#032349;
    padding:0;
    margin:0;
    list-style-type:none;
    height:25px;
    padding-left: 10px;

}
.drop_menu li { float:left; }
.drop_menu li a {
    padding-bottom: 0px;
    display:block;
    color:white;
    text-decoration:none;
    font-size: 17px;
    vertical-align: top;
}

/* Submenu */
.drop_submenu li a {color: #032349;}
.drop_menu ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style-type:none;
}
ul.drop_submenu {
    border: 1px solid lightgray;
}
.drop_menu li:hover { position:relative;   }
.drop_menu li:hover ul {
    left:0px;
    top:26px;
    padding:0px;
}

.drop_menu li:hover ul li a {
    padding:10px;
    display:block;
    width:160px;
    text-indent:15px;
    background-color:white;
}
.drop_menu li:hover ul li a:hover { color: red;  }
.user {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    background-image: url('../img/logo_piper.png');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 8px;
}
.empresa {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bienvenido {
    font-size: 8pt;
    font-family: sans-serif;
    color: #a2a4ab;
    margin: 0;
}
/*notification*/
#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 92px;
}

.notify-row .notification span.label {
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 5px;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #b6b6b6 !important;
    background-color: transparent !important;
    border-color: #b6b6b6 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important;
}

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.dropdown-menu.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    };
    }

.dropdown-menu.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.dropdown-menu.extended li p.green {
    background-color: #113559;
    color: #fff;
}

.dropdown-menu.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}

.dropdown-menu.extended li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
}

.dropdown-menu.tasks-bar .task-info .desc {
    font-size: 13px;
    font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}

.dropdown-menu.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
}

.top-nav  {
    margin-top: 7px;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 268px !important;

}

.top-nav li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-menu.extended.logout > li {
    float: left;
    text-align: center;
    width: 33.3%;
}

.dropdown-menu.extended.logout > li:last-child {
    float: left;
    text-align: center;
    width: 100%;
    background: #a9d96c;
    border-radius: 0 0 3px 3px;
}

.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i{
    color: #fff;
}

.dropdown-menu.extended.logout > li > a {
    color: #a4abbb;
    border-bottom: none !important;
}

.full-width .dropdown-menu.extended.logout > li > a:hover {
    background: none !important;
    color: #50c8ea !important;
}

.dropdown-menu.extended.logout > li > a:hover {
    background: none !important;
}

.dropdown-menu.extended.logout > li > a:hover i {
    color: #50c8ea;
}

.dropdown-menu.extended.logout > li > a i {
    font-size: 17px;
}

.dropdown-menu.extended.logout > li > a > i {
    display: block;
}

.top-nav ul.top-menu > li > a {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px;
    background: none;
    margin-right: 0;
}
.top-nav ul.top-menu > li {
    margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
    border:1px solid #F1F2F7;
    background: #F1F2F7;

}

.top-nav .dropdown-menu.extended.logout {
    top: 50px;
}

.top-nav .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #000;
    border-top-color: #000;
}

.log-arrow-up {
    background: url("../img/arrow-up.png") no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}

/*----*/

.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    left: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}

.notify-arrow-yellow {
    border-color: transparent transparent #FCB322;
    border-bottom-color: #FCB322 !important;
    border-top-color: #FCB322 !important;
}
.notify-arrow-green {
    border-color: transparent transparent #113559;
    border-bottom-color: #113559 !important;
    border-top-color: #113559 !important;
}



/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 10px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: white;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}


/* Dash Side */

.ds {
	background: #ffffff;
	padding-top: 20px;
}

.ds h4 {
	font-size: 14px;
	font-weight: 700;
}

.ds h3 {
	color: #ffffff;
	font-size: 16px;
	padding: 0 10px;
	line-height: 60px;
	height: 60px;
	margin: 0;
	background: #ff865c;
	text-align: center;
}

.ds i {
	font-size: 12px;
	line-height: 16px;
}

.ds .desc {
	border-bottom: 1px solid #eaeaea;
	display: inline-block;
	padding: 15px 0;
	width: 100%;
}

.ds .desc:hover {
	background: #f2f2f2;
}

.ds .thumb {
	width: 30px;
	margin: 0 10px 0 20px;
	display: block;
	float: left;
}

.ds .details {
	width: 170px;
	float: left;
}

.ds > .desc p {
	font-size: 11px;
}

.ds p > muted {
	font-size: 9px;
	text-transform: uppercase;
	font-style: italic;
	color: #666666
}

.ds a {
	color: #113559;
}

/* LINE ICONS CONFIGURATION */

.mtbox {
	margin-top: 80px;
	margin-bottom: 40px;
}

.box1 {
	padding: 15px;
	text-align: center;
	color: #989898;
	border-bottom: 1px solid #989898;
}

.box1 span {
	font-size: 50px;

}

.box1 h3 {
	text-align: center;
}

.box0:hover .box1 {
	border-bottom: 1px solid #ffffff;
}

.box0 p {
	text-align: center;
	font-size: 12px;
	color: #f2f2f2;
}

.box0:hover p {
	color: #ff865c;
}

.box0:hover {
	background: #ffffff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* FORMULARIOS*/
.formulario {
    padding: 0;
}


/* FORMS CONFIGURATION */
.form-panel {
	background: #ffffff;
	margin: 5px;
	box-shadow: 0px 3px 2px #aab2bd;
	text-align: left;
}
.white-box {
    background: #ffffff;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 3px 2px #aab2bd;
    text-align: left;
}
.form-panel h4 {
    padding: 10px;
    background-color: lightgray;
}
.form-panel label {
    padding: 10px 0 0 10px;
    margin-bottom: 0;
}
/*.form-panel select {
    margin: 0 0 10px 10px;
}*/
.form-panel .form-control {
    height: 35px;
    /*padding: 10px;*/
}
label {
	font-weight: 400;
    color: grey;
}

.form-horizontal.style-form .form-group {
	border-bottom: 1px solid #eff2f7;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.form-group ul {
    padding-left: 15px;
}
.round-form {
	border-radius: 500px;
	-webkit-border-radius: 500px;
}

@media (min-width: 768px) {
		.form-horizontal .control-label {
		text-align: left;
	}
}

#focusedInput {
	border: 1px solid #ed5565;
	box-shadow: none;
}

.add-on {
	float: right;
	margin-top: -37px;
	padding: 3px;
	text-align: center;
}

.add-on .btn {
	height: 34px;
}

/* TOGGLE CONFIGURATION */
.has-switch {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 1.231;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    -webkit-mask: url('../img/mask.png') 0 0 no-repeat;
    mask: url('../img/mask.png') 0 0 no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.has-switch.deactivate {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default !important;
}
.has-switch.deactivate label,
.has-switch.deactivate span {
    cursor: default !important;
}
.has-switch > div {
    width: 162%;
    position: relative;
    top: 0;
}
.has-switch > div.switch-animate {
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch > div.switch-off {
    left: -63%;
}
.has-switch > div.switch-off label {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
}
.has-switch > div.switch-on {
    left: 0%;
}
.has-switch > div.switch-on label {
    background-color: #41cac0;
}
.has-switch input[type=checkbox] {
    display: none;
}
.has-switch span {
    cursor: pointer;
    font-size: 14.994px;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch span.switch-left {
    border-radius: 30px 0 0 30px;
    background-color: #2A3542;
    color: #41cac0;
    border-left: 1px solid transparent;
}
.has-switch span.switch-right {
    border-radius: 0 30px 30px 0;
    background-color: #bdc3c7;
    color: #ffffff;
    text-indent: 7px;
}
.has-switch span.switch-right [class*="fui-"] {
    text-indent: 0;
}
.has-switch label {
    border: 4px solid #2A3542;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    height: 29px;
    margin: 0 -21px 0 -14px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 29px;
    z-index: 100;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}
.switch-square {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-mask: url('../img/mask.png') 0 0 no-repeat;
    mask: url('../img/mask.png') 0 0 no-repeat;
}
.switch-square > div.switch-off label {
    border-color: #7f8c9a;
    border-radius: 6px 0 0 6px;
}
.switch-square span.switch-left {
    border-radius: 6px 0 0 6px;
}
.switch-square span.switch-left [class*="fui-"] {
    text-indent: -10px;
}
.switch-square span.switch-right {
    border-radius: 0 6px 6px 0;
}
.switch-square span.switch-right [class*="fui-"] {
    text-indent: 5px;
}
.switch-square label {
    border-radius: 0 6px 6px 0;
    border-color: #41cac0;
}



/*LOGIN CONFIGURATION PAGE*/
.form-login {
	max-width: 330px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #113559;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
}
.login-wrap .registration {
	text-align: center;
}
.login-social-link {
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
}
/*selectro fechas*/
#selectorFechas {
    width: auto;
    height: 39px;
    position: fixed;
    bottom: 0px;
    right: 50px;
    background-color: #064378;
    display: flex;
    align-items: center;
    border-left: 7px solid #05578a;
    z-index: 10000;
}
.fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 10px;
}
.flechas {
    padding-left: 10px;
    display: flex;
    align-items: center;
}
#entrarFS {
    display: block;
}
#salirFS {
    display: none;
}
button.fullscreen {
    width: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}
#from, #datepicker  {
    width: 95px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: #d5dce43b solid 1px;
    background-color: #00000021;
}
#to, #datepicker2 {
    width: 95px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-align: center;
    border: #d5dce43b solid 1px;
    background-color: #00000021;
}
.rango-flechas {
    width: 40px;
    height: 25px;
    border: #d5dce43b solid 1px;
    background-color: #00000021;
    color: #fff;
}
.fullsc>img, .fullscreen>img {
    padding-bottom: 15px;
}
#entrarFS {display: block;}
#salirFS {display: none;}
/*botones fullscreen*/
:-webkit-full-screen #salirFS {
  display: block;
}

:-moz-full-screen #salirFS {
  display: block;
}

:-ms-fullscreen #salirFS {
  display: block;
}

:fullscreen #salirFS {
  display: block;
}
:-webkit-full-screen #entrarFS {
  display: none;
}

:-moz-full-screen #entrarFS {
  display: none;
}

:-ms-fullscreen #entrarFS {
  display: none;
}

:fullscreen #entrarFS {
  display: none;
}


/*footer*/
.site-footer {
    background: #113559;
    color: #fff;
    padding: 10px 0;
    margin-top: 15px;
    height: 60px;

}


.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.go-top i {
    color: #2A3542;
}

.site-min-height {
    min-height: 900px;
}

/*---------------------------------------*/
/*downtime*/
/*---------------------------------------*/

a.dt-button.buttons-collection  {
    background: #4c76b0;
    color: #fff;
    border-color: #4c76b0!important;
    padding: 8px;
    margin: 0 5px;
    border-radius: 5px;
}
.dt-button img {
    padding: 0 5px;
}
.dt-buttons {
    padding: 15px;
}
.dataTables_filter {
    padding: 15px;
}

table {
   font-size: 11px!important;
}

table td {
    border: solid 1px darkgrey;
}
.table thead th, .table td {
    vertical-align: middle;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}
.paginate_button {padding: 0 10px;}

.btn-piper {
    color: white;
    background-color: #4c76b0;
    border-color: #4c76b0;
}
.bg-piper {background-color: #4c76b0;}
.lg-right-sm-center {
    text-align: right;
}
/*---------------------------------------*/
/*gestiòn de eventos*/
/*---------------------------------------*/
#myTable thead {
    color: #fff;
    background-color: #4c76b0;
}
.table-bordered {border: solid 1px gray;}
.btn-default {
    color: #212529;
    background-color: #4c76b0;
    border-color: #4c76b0;
}
.buttons-print {margin-right: 30px;}
.pt10 {padding: 10px;}
.pt5 {padding: 5px;}

.progress-bar-success {
    background-color: #28a745;
}
.progress-bar-info {
    background-color: #17a2b8;
}
.progress-bar-warning {
    background-color: #ffc107;
}
.progress-bar-primary {
    background-color: #007bff;
}
.progress-bar-default {
    background-color: #4c76b0;
}

/*---------------------------------------*/
/*enterprice view*/
/*---------------------------------------*/


.graph {min-height: 100px;}
.areayequipo {
    height: 50px;
    background-color: white;
    margin: 0px 5px;
    border: 1px solid #dfe1ea;
}
.areayequipo .form-panel {
    padding: 0;
}
.areayequipo2 {
    background-color: white;
    margin: 0px 5px;
    border: 1px solid #dfe1ea;
}
.areayequipo2 .form-panel {
    padding: 0;
}
.cubo {
    /*float: left;*/
    margin-top: 11px;
    height: 16px;
    width: 15px;
}

.selector {
    margin-bottom: 10px;
    text-align: center;
}
.selectores {
    display: inline-flex;
    padding-left: 30px;
    margin-top: 5px;
}
.selectores2 {
    display: inline-flex;
}
button.buscar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: #4c76b0 solid 1px;
    border-radius: 5px;
    background-color: #4c76b0;
    color: white;
}

input.buscar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: #4c76b0 solid 1px;
    border-radius: 5px;
    background-color: #4c76b0;
    color: white;
}

.titulo-dash {
    float: right;
    display: inline-flex;
}
#descArea {
    padding: 5px 10px;
    width: 100%;
}
.titulo {
    width: 99%;
    margin: 0 10px;
    color: #0d5188;
    font-weight: 600;
    font-size: 14pt;
}

.titulo_sub {
    width: 100%;
    height: 30px;
    margin: 0 10px 0 0;
    color: #000;
    font-weight: 600;
    font-size: 12pt;
}
.dato {
    width: 100%;
    color: gray;
    text-align: center;
    margin-top: -15px;
    font-weight: 600;
    font-size: 13pt;
}
.hijo {padding: 0;}

/*---------------------------------------*/
/*administracion de AF*/
/*---------------------------------------*/
#adminAF li {
    border-bottom: 1px solid lightgray;
    margin-right: 25px;
}
.btn-AF {
    background-image: url(../img/cubo2.png);
    background-repeat: no-repeat;
    background-position-y: 4px;
    text-align: left;
    font-size: 1.2em;
    color: #7d8186;
    padding: 3px 0 0 35px;
}
.btn-AF.active {
    color: #175c86;
}
.nivel1 {
}
.nivel2 {
}
.nivel3 {
}
.form-group {
    padding-bottom: 10px;
} 
#dataRef {
    margin-top: 27px;
    font-size: 0.9em;
}
#guardar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
/*---------------------------------------*/
/*Modal*/
/*---------------------------------------*/
.modal-header h4 {
        background-color: #113559;
}
.rangoFechas {
    background-color: #e5e5e5 !important;
    text-align:center;
    color: black;
}
.tab {
    font-size: 1.5em;
    padding: 10px;
}
.close {color: white;}
.input-group-addon {
    border-radius: 2px;
    border: 1px solid rgba(120,130,140,.13);
}
.timepicker-sbs {background-color: #851818;}
/*viene plantilla antigua coustom vtabs*/
div.vtabs.customvtab {
    width: 100% !important;
}
.tab-content{margin-top:30px}.customtab{border-bottom:2px solid rgba(0,0,0,.1)}.customtab li.active a,.customtab li.active a:focus,.customtab li.active a:hover{border:0;border-bottom:2px solid #2cabe3;margin-bottom:-1px;color:#2cabe3}.customtab li a,.customtab li a:focus,.customtab li a:hover{border:0}.customtab2{border-bottom:1px solid rgba(0,0,0,.1);border-top:1px solid rgba(0,0,0,.1);padding:10px 0}.customtab2 li.active a,.customtab2 li.active a:focus,.customtab2 li.active a:hover{border:1px solid #2cabe3;color:#fff}.customtab2 li a,.customtab2 li a:focus,.customtab2 li a:hover{border:0}.vtabs{display:table}.vtabs .tabs-vertical{width:150px;border-right:1px solid rgba(120,130,140,.13);display:table-cell;vertical-align:top}.vtabs .tabs-vertical li a{color:#96a2b4;margin-bottom:10px}.vtabs .tab-content{display:table-cell;padding:20px;vertical-align:top}.tabs-vertical li.active a,.tabs-vertical li.active a:focus,.tabs-vertical li.active a:hover{background:#2cabe3;border:0;border-right:2px solid #2cabe3;margin-right:-1px;color:#fff}.customvtab .tabs-vertical li.active a,.customvtab .tabs-vertical li.active a:focus,.customvtab .tabs-vertical li.active a:hover{border:0;border-right:2px solid #2cabe3;margin-right:-1px;color:#96a2b4}
/*viene de plantilla antigua para CBPFWTabs*/
.sttabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
}
.sticon::before{display:inline-block;margin:0 .4em 0 0;vertical-align:middle;font-size:20px;speak:none;-webkit-backface-visibility:hidden;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.sttabs nav{text-align:center}.sttabs nav ul{position:relative;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;margin:0 auto;padding:0;font-family:Poppins,sans-serif;list-style:none;-ms-box-orient:horizontal;-ms-box-pack:center;-webkit-flex-flow:row wrap;-moz-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center}.sttabs nav ul li{position:relative;z-index:1;display:block;margin:0;text-align:center;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1}.sttabs nav a{position:relative;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:2.5}.sttabs nav a span{vertical-align:middle;font-wight:500;font-size:14px;font-family:Rubik,sans-serif}.sttabs nav a:focus{outline:0}.sttabs nav li.tab-current a{color:#ff7676}.tabs-style-bar nav ul li a{margin:0 2px;background-color:rgba(0,0,0,.1);color:#96a2b4;padding:5px 0;transition:background-color .2s,color .2s}.tabs-style-bar nav ul li a:focus,.tabs-style-bar nav ul li a:hover{color:#ff7676}.tabs-style-bar nav ul li a span{text-transform:uppercase;letter-spacing:1px;font-size:14px;font-family:Poppins,sans-serif}.tabs-style-bar nav ul li.tab-current a{background:#2cabe3;color:#fff}.tabs-style-iconbox nav{background:rgba(0,0,0,.1)}.tabs-style-iconbox nav ul li a{overflow:visible;padding:25px 0;line-height:1;-webkit-transition:color .2s;transition:color .2s;color:#565656}.tabs-style-iconbox nav ul li.tab-current{z-index:1}.tabs-style-iconbox nav ul li.tab-current a{background:#2cabe3;color:#fff;box-shadow:-1px 0 0 #fff}.tabs-style-iconbox nav ul li.tab-current a::after{position:absolute;top:100%;left:50%;margin-left:-10px;width:0;height:0;border:solid transparent;border-width:10px;border-top-color:#2cabe3;content:'';pointer-events:none}.tabs-style-iconbox nav ul li::after,.tabs-style-iconbox nav ul li:first-child::before{position:absolute;top:20%;right:0;z-index:-1;width:1px;height:60%;content:''}.tabs-style-iconbox nav ul li:first-child::before{right:auto;left:0}.tabs-style-iconbox .sticon::before{display:block;margin:0 0 .25em}.tabs-style-underline nav{border:1px solid rgba(120,130,140,.13)}.tabs-style-underline nav a{padding:20px 0;border-left:1px solid rgba(120,130,140,.13);-webkit-transition:color .2s;transition:color .2s;color:#96a2b4}.tabs-style-underline nav li:last-child a{border-right:1px solid rgba(120,130,140,.13)}.tabs-style-underline nav li a::after{position:absolute;bottom:0;left:0;width:100%;height:6px;background:#2cabe3;content:'';-webkit-transition:-webkit-transform .3s;transition:transform .3s;-webkit-transform:translate3d(0,150%,0);transform:translate3d(0,150%,0)}.tabs-style-underline nav li.tab-current a::after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.tabs-style-linetriangle nav a{overflow:visible;border-bottom:1px solid rgba(0,0,0,.2);-webkit-transition:color .2s;transition:color .2s}.tabs-style-linetriangle nav a span{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;padding:15px 0;color:#96a2b4}.tabs-style-linetriangle nav li.tab-current a:after,.tabs-style-linetriangle nav li.tab-current a:before{position:absolute;top:100%;left:50%;width:0;height:0;border:solid transparent;content:'';pointer-events:none}.tabs-style-linetriangle nav li.tab-current a:after{margin-left:-10px;border-width:10px;border-top-color:#fff}.tabs-style-linetriangle nav li.tab-current a span{color:#ff7676}.tabs-style-linetriangle nav li.tab-current a:before{margin-left:-11px;border-width:11px;border-top-color:rgba(0,0,0,.2)}.tabs-style-iconfall{overflow:visible}.tabs-style-iconfall nav{max-width:1200px;margin:0 auto}.tabs-style-iconfall nav a{display:inline-block;overflow:visible;padding:1em 0 2em;color:#96a2b4;line-height:1;-webkit-transition:color .3s cubic-bezier(.7,0,.3,1);transition:color .3s cubic-bezier(.7,0,.3,1)}.tabs-style-iconfall nav a:focus,.tabs-style-iconfall nav a:hover,.tabs-style-iconfall nav li.tab-current a{color:#ff7676}.tabs-style-iconfall nav li::before{position:absolute;bottom:1em;left:50%;margin-left:-20px;width:40px;height:4px;background:#ff7676;content:'';opacity:0;-webkit-transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in;-webkit-transform:scale3d(0,1,1);transform:scale3d(0,1,1)}.tabs-style-iconfall nav li.tab-current::before{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}.tabs-style-iconfall nav li.tab-current .sticon::before{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.tabs-style-iconfall .sticon::before{display:block;margin:0 0 .35em;opacity:0;font-size:24px;-webkit-transition:-webkit-transform .2s,opacity .2s;transition:transform .2s,opacity .2s;-webkit-transform:translate3d(0,-100px,0);transform:translate3d(0,-100px,0);pointer-events:none}@media screen and (max-width:58em){.tabs-style-iconfall nav li .sticon::before{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.tabs-style-linemove nav{background:rgba(0,0,0,.1)}.tabs-style-linemove nav li:last-child::before{position:absolute;bottom:0;left:0;width:100%;height:4px;background:#ff7676;content:'';-webkit-transition:-webkit-transform .3s;transition:transform .3s}.tabs-style-linemove nav li:first-child.tab-current~li:last-child::before{-webkit-transform:translate3d(-400%,0,0);transform:translate3d(-400%,0,0)}.tabs-style-linemove nav li:nth-child(2).tab-current~li:last-child::before{-webkit-transform:translate3d(-300%,0,0);transform:translate3d(-300%,0,0)}.tabs-style-linemove nav li:nth-child(3).tab-current~li:last-child::before{-webkit-transform:translate3d(-200%,0,0);transform:translate3d(-200%,0,0)}.tabs-style-linemove nav li:nth-child(4).tab-current~li:last-child::before{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.tabs-style-linemove nav a{padding:30px 0;color:#96a2b4;line-height:1;-webkit-transition:color .3s,-webkit-transform .3s;transition:color .3s,transform .3s}.tabs-style-linemove nav li.tab-current a{color:#ff7676}.tabs-style-line nav a{padding:20px 10px;box-shadow:inset 0 -2px #96a2b4;color:#96a2b4;text-align:left;text-transform:uppercase;letter-spacing:1px;line-height:1;-webkit-transition:color .3s,box-shadow .3s;transition:color .3s,box-shadow .3s}.tabs-style-line nav a:focus,.tabs-style-line nav a:hover{box-shadow:inset 0 -2px #74777b}.tabs-style-line nav li.tab-current a{box-shadow:inset 0 -2px #ff7676;color:#ff7676}@media screen and (max-width:58em){.tabs-style-line nav ul{display:block;box-shadow:none}.tabs-style-line nav ul li{display:block;-webkit-flex:none;flex:none}}.tabs-style-circle{overflow:visible}.tabs-style-circle nav li{margin-top:60px!important;margin-bottom:60px!important}.tabs-style-circle nav li::before{position:absolute;top:50%;left:50%;margin:-60px 0 0 -60px;width:120px;height:120px;border:1px solid #2cabe3;border-radius:50%;content:'';opacity:0;-webkit-transition:-webkit-transform .2s,opacity .2s;transition:transform .2s,opacity .2s;-webkit-transition-timing-function:cubic-bezier(.7,0,.3,1);transition-timing-function:cubic-bezier(.7,0,.3,1)}.tabs-style-circle nav a{overflow:visible;color:#96a2b4;font-weight:500;font-size:14;line-height:1.1;-webkit-transition:color .3s cubic-bezier(.7,0,.3,1);transition:color .3s cubic-bezier(.7,0,.3,1)}.tabs-style-circle nav a span{display:inline-block}.tabs-style-circle nav a:focus,.tabs-style-circle nav a:hover,.tabs-style-circle nav li.tab-current a{color:#ff7676}.tabs-style-circle nav li.tab-current a span{-webkit-transform:translate3d(0,4px,0);transform:translate3d(0,4px,0)}@media screen and (max-width:58em){.tabs-style-circle nav li::before{margin:-40px 0 0 -40px;width:80px;height:80px}}.tabs-style-circle nav li.tab-current::before{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}.tabs-style-circle .icon::before,.tabs-style-circle nav a span{-webkit-transition:-webkit-transform .3s cubic-bezier(.7,0,.3,1);transition:transform .3s cubic-bezier(.7,0,.3,1)}.tabs-style-circle .sticon::before{display:block;margin:0;pointer-events:none}.tabs-style-circle nav li.tab-current .sticon::before{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}.tabs-style-shape{max-width:1200px;margin:0 auto}.tabs-style-shape nav ul li{margin:0 3em}.tabs-style-shape nav ul li:first-child{margin-left:0}.tabs-style-shape nav ul li.tab-current{z-index:1}.tabs-style-shape nav li a{overflow:visible;margin:0 -3em 0 0;padding:0;color:#fff;font-weight:500}.tabs-style-shape nav li a svg{position:absolute;left:100%;margin:0;width:3em;height:100%;fill:#96a2b4}.tabs-style-shape nav li:first-child a span{padding-left:2em;border-radius:30px 0 0}.tabs-style-shape nav li:last-child a span{padding-right:2em;border-radius:0 30px 0 0}.tabs-style-shape nav li a svg:nth-child(2),.tabs-style-shape nav li:last-child a svg{right:100%;left:auto;-webkit-transform:scale3d(-1,1,1);transform:scale3d(-1,1,1)}.tabs-style-shape nav li a span{display:block;overflow:hidden;padding:.65em 0;background-color:#96a2b4;text-overflow:ellipsis;white-space:nowrap}.tabs-style-shape nav li a:hover span{background-color:#ff7676}.tabs-style-shape nav li a:hover svg{fill:#ff7676}.tabs-style-shape nav li a svg{pointer-events:none}.tabs-style-shape nav li a svg use{pointer-events:auto}.tabs-style-shape nav li.tab-current a span,.tabs-style-shape nav li.tab-current a svg{-webkit-transition:none;transition:none}.tabs-style-shape nav li.tab-current a span{background:#3c4452}.tabs-style-shape nav li.tab-current a svg{fill:#3c4452}.tabs-style-shape .content-wrap{background:#3c4452}@media screen and (max-width:58em){.tabs-style-shape nav ul{display:block;padding-top:1.5em}.tabs-style-shape nav ul li{display:block;margin:-1.25em 0 0;-webkit-flex:none;flex:none}.tabs-style-shape nav ul li a{margin:0}.tabs-style-shape nav ul li svg{display:none}.tabs-style-shape nav ul li a span{padding:1.25em 0 2em!important;border-radius:30px 30px 0 0!important;box-shadow:0 -1px 2px rgba(0,0,0,.1);line-height:1}.tabs-style-shape nav ul li:last-child a span{padding:1.25em 0!important}.tabs-style-shape nav ul li.tab-current{z-index:1}}.tabs-style-linebox nav ul li{margin:0 .5em;-webkit-flex:none;flex:none}.tabs-style-linebox nav a{padding:0 1.5em;color:#96a2b4;font-weight:500;-webkit-transition:color .3s;transition:color .3s}.tabs-style-linebox nav a:focus,.tabs-style-linebox nav a:hover{color:#ff7676}.tabs-style-linebox nav li.tab-current a{color:#fff}.tabs-style-linebox nav a::after{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background:#96a2b4;content:'';-webkit-transition:background-color .3s,-webkit-transform .3s;transition:background-color .3s,transform .3s;-webkit-transition-timing-function:ease,cubic-bezier(.7,0,.3,1);transition-timing-function:ease,cubic-bezier(.7,0,.3,1);-webkit-transform:translate3d(0,100%,0) translate3d(0,-3px,0);transform:translate3d(0,100%,0) translate3d(0,-3px,0)}.tabs-style-linebox nav li.tab-current a::after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.tabs-style-linebox nav a:focus::after,.tabs-style-linebox nav a:hover::after,.tabs-style-linebox nav li.tab-current a::after{background:#ff7676}@media screen and (max-width:58em){.tabs-style-linebox nav ul{display:block;box-shadow:none}.tabs-style-linebox nav ul li{display:block;-webkit-flex:none;flex:none}}.tabs-style-flip{max-width:1200px;margin:0 auto}.tabs-style-flip nav a{padding:.5em 0;color:#96a2b4;-webkit-transition:color .3s;transition:color .3s}.tabs-style-flip nav a:focus,.tabs-style-flip nav a:hover{color:#ff7676}.tabs-style-flip nav a span{text-transform:uppercase;letter-spacing:1px}.tabs-style-flip nav a::after{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background-color:#96a2b4;content:'';-webkit-transition:-webkit-transform .3s,background-color .3s;transition:transform .3s,background-color .3s;-webkit-transform:perspective(900px) rotate3d(1,0,0,90deg);transform:perspective(900px) rotate3d(1,0,0,90deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-perspective-origin:50% 100%;perspective-origin:50% 100%}.tabs-style-flip nav li.tab-current a{color:#ff7676}.tabs-style-flip nav li.tab-current a::after{background-color:#3c4452;-webkit-transform:perspective(900px) rotate3d(1,0,0,0deg);transform:perspective(900px) rotate3d(1,0,0,0deg)}.tabs-style-flip .content-wrap{background:#3c4452}.tabs-style-circlefill{max-width:800px;border:1px solid #ff7676;margin:0 auto}.tabs-style-circlefill nav ul li{overflow:hidden;border-right:1px solid #ff7676}.tabs-style-circlefill nav li a{padding:1.5em 0;color:#fff;font-size:1.25em}.tabs-style-circlefill nav li:first-child{border-left:none}.tabs-style-circlefill nav li:last-child{border:none}.tabs-style-circlefill nav li::before{position:absolute;top:50%;left:50%;margin:-40px 0 0 -40px;width:80px;height:80px;border:1px solid #ff7676;border-radius:50%;background:#ff7676;content:'';-webkit-transition:-webkit-transform .3s;transition:transform .3s}.tabs-style-circlefill nav li.tab-current::before{-webkit-transform:scale3d(2.5,2.5,1);transform:scale3d(2.5,2.5,1)}.tabs-style-circlefill nav a{-webkit-transition:color .3s;transition:color .3s}.tabs-style-circlefill nav a span{display:none}.tabs-style-circlefill nav li.tab-current a{color:#fff}.tabs-style-circlefill .icon::before{display:block;margin:0;pointer-events:none}.tabs-style-circlefill .content-wrap{border-top:1px solid #ff7676}.content-wrap{position:relative}.content-wrap section{display:none;margin:0 auto;padding:25px;min-height:150px}.content-wrap section p{margin:0;padding:.75em 0}.content-wrap section.content-current{display:block}.no-js .content-wrap section{display:block;padding-bottom:2em;border-bottom:1px solid rgba(255,255,255,.6)}.no-flexbox nav ul{display:block}.no-flexbox nav ul li{min-width:15%;display:inline-block}@media screen and (max-width:58em){.sttabs nav a span{display:none}.sttabs nav a:before{margin-right:0}}.mytooltip{display:inline;position:relative;z-index:9999}

.rangoDeFechas {
    display: flex;
    float: right;
}
#buscarLupa {font-size: .55em;}
#tfecha {
    height: 35px;
    /*width: 240px;*/
}
/*blinking*/
.blinking{
    animation:blinkingBkg 0.8s infinite;
}
.statusOK {
    background-color: #017575;
    color: white;
}
#btn-print {
    cursor: pointer;
    float: right;
    padding-right: 30px;
}
.col-izq {}
.col-der {}
@keyframes blinkingBkg{
    0%{   background-color: #e5334d;  color: white;   }
    49%{  background-color: transparent; color: #212529;}
    50%{  background-color: transparent; color: #212529;}
    99%{  background-color: transparent; color: #212529;}
    100%{ background-color: #e5334d;  color: white;   }
}

@media screen and (min-width : 1260px) {
    .modal-dialog {max-width: 90%;}
    .col-izq {padding-right: 5px;}
    .col-der {padding-left: 5px;}
}
@media screen and (min-width : 768px) and (max-width : 1260px) {
    .areayequipo {
        text-align: center;
        height: 85px;
    }
    .areayequipo2 {
        text-align: center;
    }
    .selectores {
        padding-left: 0px;
    }
    .titulo-dash {
        float: none;
        width: 100%;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
    }
    .lg-right-sm-center {
        text-align: center;
        margin-top: 10px;
    }
    .modal-dialog {max-width: 90%;}
    .form-control {
        padding: 5px;
    }
    .col-izq {padding-right: 5px;}
    .col-der {padding-left: 5px;}
}
@media screen and (min-width : 320px) and (max-width : 768px) {
    .formulario {margin: 10px;}
    .selectores {
        display: block;
        padding-left: 0px;
    } 
    .cubo {display: none;}
    .areayequipo {
        height: 150px;
        height: auto;
        background-color: white;
        border: 1px solid #dfe1ea;
        background-image: none;
    }
    .hijo {
        text-align: center;
    }
    .titulo-dash {
        float: none;
        width: 100%;
        text-align: center;
    }
    #descArea {width: 100%;}
    ul.sidebar-menu {
        margin-top: 0px;
    }
    .menuProdPiper {
        text-align: center;
        margin: 0;
    }
    .lg-right-sm-center {
        text-align: center;
        margin-top: 10px;
    }
    .user {padding-right: 0;}
    #productosPiper {
        float: none;
        height: 60px;
        width: auto;
        text-align: center;
    }
    .logoProdPiper {
        display: inline-flex;
            margin: 19px 13px;

    }
    #logo {
        width: 100%;
        background-position-x: center;
    }
    .rangoDeFechas {
        display: inline-flex;
        float: none
    }
    #btn-print {
        padding-right: 0;
    }
}



div.saltopagina{
  display: none;
}

   
@media print{
   div.saltopagina{ 
      display: block; 
      page-break-before: always;
   }
}