/*Gauge*/
.amchart_gauge {
  width: 100%;
  max-height: 150px;
  height: 100vh;
}
@media screen and (min-width : 570px) and (max-width : 1260px) {
	.amchart_gauge {
		max-height: 80px;
	}
}
/*Radial*/
.amchart_fallas {
  width: 100%;
  max-height: 300px;
  height: 100vh;
}

/*Pareto*/
.amchart_pareto {
  width: 100%;
  max-height: 300px;
  height: 100vh;
}

/*Areas*/
.amchart_area1 {
  width: 100%;
  height: 250px;
}

/*MVA multiple value Axes*/
.amchart_mva {   
  width: 100%;
  height: 600px;
  padding: 0px 10px 0px 10px;
 
}

